*{
	box-sizing: border-box;
	padding   : 0;
	margin    : 0;
    overflow  : hidden;
    font-family: 'Poppins', sans-serif;

}
body{
    height: 100%;
    width : 100%;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 2%;
}
.article-sup__firstText{
    font-weight: 400;
    font-size: 1.5em;
    
}
.article-sup__TextPrincipal{
    font-size: 1.5em;
    font-weight: 600;
    
}
.article-sup__secondText{
    font-size: .81em;
    font-weight: 200;
    text-align: center;

}

/*TODO MEDIAS QUERIES */
[class*="col-"] {
  width: 100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .article-sup{
        margin: 22% 8%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}